src/python/
.config.ini
/.idea
*.session
/.*.ini
# IDE-specific settings
.idea/
.vscode/

.ssh/
.vagrant/
.venv/

*.pyc
*.swp
*.save

# configuration files
/.ssl
.env*
!.env.example
src/config/*.yaml
!src/config/*.example.yaml
src/config/*/*.yaml
!src/config/*/*.example.yaml

src/.cookies

# login lock files
/src/locks/*.*

# artifacts
*.webm
.~lock*
openvpn.pid

# testing artifacts
test_report.*
.coverage

# local development
workon.sh
wenv/

# scrapers output and logs
*.xlsx
*.csv
nohup.out
*.log*
/*.html
src/**/*.html
src/logs/*

# code analysis tools
.mypy_cache
/config.ini
